<div class="row display-flex">
    <div class="col col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 image-login" >

    </div> 

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" style="padding: 0;height: 100vh;">
        
        <!-- Login-Registration Form  -->
        
        <div class="registration-login-form" style="padding: 0; height: 100vh;">
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">			
                <div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
                    <div class="title h6">Inicia sesión en tu cuenta</div>
                    <form #logInForm="ngForm" class="content" action="" method="POST">
                        <div class="row">
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group label-floating">
                                    <label for="email" class="control-label">Correo electrónico</label>
                                    <input 
                                        required 
                                        ngModel name="email"
                                        #email="ngModel" 
                                        class="form-control" 
                                        placeholder="" 
                                        type="email" 
                                        id="email">
                                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                                        El email no es válido
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <label for="password" class="control-label">Contraseña</label>
                                    <input 
                                        required 
                                        minlength="6" 
                                        ngModel 
                                        name="password" 
                                        #password="ngModel" 
                                        class="form-control" 
                                        placeholder="" 
                                        type="password" 
                                        id="password">
                                    <div 
                                        class="alert alert-danger" 
                                        *ngIf="password.touched && !password.valid">
                                        <div *ngIf="password.control.errors.required">
                                            La contraseña es requerida
                                        </div>
                                        <div *ngIf="password.control.errors.minlength">
                                            La contraseña debe ser de {{ password.control.errors.minlength.requiredLength }} caractéres o más
                                        </div>
                                    </div>
                                </div>
        
                                <button class="btn btn-lg btn-primary full-width" style="background-color: #00BBF0;border-color: #00BBF0">Iniciar con Google</button>
                                <button [disabled]="logInForm.form.invalid" class="btn btn-lg btn-primary full-width">Iniciar sesión</button>
                                <p>¿No tienes una cuenta aún? <a href="sign-up">Regístrate ahora!</a> y encuentra tutores para las materias que necesites!</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- ... end Login-Registration Form  -->		</div>
</div>