.logo-container img {
    height: 100%;
    width: auto;
    ;
}

.logo-container {
    width: 70px;
    ;
    height: 100%;
    margin: 0;
    ;
}

#site-header {
    display: flex;
    justify-content: space-between
}

*:focus {
    outline: none;
}

.tuttore-logo-footer {
    width: 70%;
    margin: 0 auto;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    background-image: url("../../../assets/img/main/landing20.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search {
    top: 60vh;
    height: 50px;
    width: 100vw;
    margin: 0 auto;
}

.search button {
    margin: 0;
}

.search input {
    width: 100%;
    background-color: #fff;
    border-color: #fff;
}

.search h1 {
    color: #fff;
    position: relative;
    top: 50%;
    font-weight: 400;
    font-size: 45px;
}

.search input:focus {
    background: #fff;
    border-color: #fff;
}

.conectamos {
    font-size: 1.5rem;
}

.signUpBtn {
    font-size: 20px;
    color: #ff5e3a;
    border-color: #ff5e3a;
    font-weight: lighter;
    min-width: 110px;
}

.loginBtn {
    font-size: 20px;
    color: #00bbf0;
    border-color: #00bbf0;
    font-weight: lighter;
    min-width: 110px;
}

@media only screen and (max-width:415px) {
    .signUpBtn {
        font-size: 15px;
        padding: 0px;
    }
    .loginBtn {
        font-size: 15px;
        padding: 0px;
    }
}

@media only screen and (max-width:343px) {
    .signUpBtn {
        font-size: 13px;
    }
    .loginBtn {
        font-size: 13px;
    }
    .logo-container {
        margin-right: 20%;
    }
}