<header class="header" id="site-header">
    <div class="logo-container" routerLink="home">
        <img src="assets/img/logo/Logo.png" alt="Tuttore">
    </div>
    <div class="header-content-wrapper">
        <div class="control-block mr-5 px-0">
            <div class="author-page author vcard inline-items more" routerLink="profile">
                <div class="author-thumb">
                    <a routerLink="/sign-up">
                        <button type="button" class="m-1 btn" style="font-size: 20px; color: #ff5e3a; border-color: #ff5e3a;font-weight: lighter; min-width: 110px;">Registrar</button>
                    </a>
                </div>
                <div>
                    <a routerLink="/log-in">
                        <button type="button" class="m-1 btn" style="font-size: 20px; color:#00bbf0; border-color: #00bbf0; font-weight: lighter; min-width: 110px;">Iniciar Sesión</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 search">
                <h1 style="font-weight:bolder;">Bienvenido a Tuttore</h1>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 animated fadeIn">

                        <a routerLink="/sign-up">
                            <button type="button" class="m-5 btn" style="font-size: 20px; color: #ffffff; background-color: #ff5e3a;font-weight: lighter; min-width: 300px; font-size: 2rem;">Registrarse</button>
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 animated fadeIn">

                        <a routerLink="/log-in">
                            <button type="button" class="m-5 btn" style="font-size: 20px; color:#ffffff; background-color: #00bbf0; font-weight: lighter; min-width: 300px; font-size: 2rem;">Iniciar Sesión</button>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="pt120" style="background: #fff;">
    <div class="container">
        <div class="row mb60">
            <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading align-center">
                    <h2 class="heading-title">¿Por qué usar Tuttore?</h2>
                    <hr>
                    <p class="heading-text">¡Conectamos a estudiantes de la Universidad Nacional que buscan tutorías académicas con estudiantes que quieren darlas!
                    </p>
                </div>
            </div>
        </div>
        <div class="info-box-wrap">
            <div class="row">
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">


                    <!-- Info Box  -->

                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="assets/img/info/info1.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">Horarios Flexibles</h3>
                            <p class="info-box-text">Consigue tutorías en los horarios que tengas disponibles cuando lo necesites.
                            </p>
                        </div>
                    </div>

                    <!-- ... end Info Box  -->

                </div>
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">


                    <!-- Info Box  -->

                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="assets/img/info/info2.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">Amplio Catálogo</h3>
                            <p class="info-box-text">Encuentra tutorías para cualquier materia en cualquier carrera.
                            </p>
                        </div>
                    </div>

                    <!-- ... end Info Box  -->

                </div>
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">


                    <!-- Info Box  -->

                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="assets/img/info/info3.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">Comunicación Segura</h3>
                            <p class="info-box-text">Comunícate de forma segura con tu tutor al contar con el respaldo de Tuttore.</p>
                        </div>
                    </div>

                    <!-- ... end Info Box  -->

                </div>
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">


                    <!-- Info Box  -->

                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="assets/img/info/info4.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">Interfaz Amigable</h3>
                            <p class="info-box-text">Encuentra de manera fácil y organizada toda la información correspondiente a tutores y a tu perfil.</p>
                        </div>
                    </div>

                    <!-- ... end Info Box  -->

                </div>
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="assets/img/info/info5.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">Contacto Rápido y Sencillo</h3>
                            <p class="info-box-text">Cuando veas un tutor que cumple con tus expectativas has contacto directo con él al instante.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="crumina-module crumina-info-box" data-mh="box--classic">
                        <div class="info-box-image">
                            <img src="assets/img/info/info6.png" alt="icon">
                        </div>
                        <div class="info-box-content">
                            <h3 class="info-box-title">Diviértete Aprendiendo Cosas Nuevas</h3>
                            <p class="info-box-text">Cada tutor dará lo mejor de si para enseñarte lo que necesitas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="footer footer--dark pb-3" id="footer">
    <div class="container mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">


                <!-- Widget About -->

                <div class="widget w-about ">

                    <a href="" class="logo d-flex justify-content-center">
                        <div class="img-wrap">
                            <img class="tuttore-logo-footer" src="assets/img/logo/LogoName.png" alt="Tuttore">
                        </div>

                    </a>
                    <p class="text-center">Tuttore te ayuda a encontrar a tu tutor indicado </p>
                    <ul class="socials d-flex justify-content-center">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- ... end Widget About -->

            </div>
        </div>
    </div>