<section class="pt120" id="porque-tuttore" style="background: #fff;">
        <div class="container">
          <div class="row mb60">
            <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
              <div class="crumina-module crumina-heading align-center">
                <h2 class="heading-title">¿Por qué usar Tuttore?</h2>
                <hr />
                <p class="heading-text conectamos">
                  ¡Conectamos a estudiantes de la Universidad Nacional que buscan
                  tutorías académicas con estudiantes que quieren darlas!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pc-info">
          <div class="container">
            <div class="pc-info-c my-5 mx-5">
              <div class="pc-text">
                <h4>Tuttores</h4>
                <p>
                  Aprende más sobre Tutores y cómo puedes encontrar tutorías ¡de lo
                  que quieras, cuando quieras!
                </p>
              </div>
              <div class="pc-img">
                <img src="assets/img/PC.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="info-box-wrap mt-5">
          <div class="container">
            <div class="row">
              <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 info-cards my-3  p-4">
                <div class="crumina-module crumina-info-box" data-mh="box--classic">
                  <div class="info-box-image">
                    <img src="assets/img/info/info1.png" alt="icon" />
                  </div>
                  <div class="info-box-content">
                    <h3 class="info-box-title">Horarios Flexibles</h3>
                    <p class="info-box-text">
                      Consigue tutorías en los horarios que tengas disponibles cuando
                      lo necesites.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 info-cards my-3  p-4">
                <!-- Info Box  -->
      
                <div class="crumina-module crumina-info-box" data-mh="box--classic">
                  <div class="info-box-image">
                    <img src="assets/img/info/info2.png" alt="icon" />
                  </div>
                  <div class="info-box-content">
                    <h3 class="info-box-title">Amplio Catálogo</h3>
                    <p class="info-box-text">
                      Encuentra tutorías para cualquier materia en cualquier carrera.
                    </p>
                  </div>
                </div>
      
                <!-- ... end Info Box  -->
              </div>
              <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 info-cards my-3  p-4">
                <div class="crumina-module crumina-info-box" data-mh="box--classic">
                  <div class="info-box-image">
                    <img src="assets/img/info/info3.png" alt="icon" />
                  </div>
                  <div class="info-box-content">
                    <h3 class="info-box-title">Comunicación Segura</h3>
                    <p class="info-box-text">
                      Comunícate de forma segura con tu tutor al contar con el
                      respaldo de Tuttore.
                    </p>
                  </div>
                </div>
      
                <!-- ... end Info Box  -->
              </div>
              <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 info-cards my-3  p-4">
                <div class="crumina-module crumina-info-box" data-mh="box--classic">
                  <div class="info-box-image">
                    <img src="assets/img/info/info4.png" alt="icon" />
                  </div>
                  <div class="info-box-content">
                    <h3 class="info-box-title">Interfaz Amigable</h3>
                    <p class="info-box-text">
                      Encuentra de manera fácil y organizada toda la información
                      correspondiente a tutores y a tu perfil.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 info-cards my-3  p-4">
                <div class="crumina-module crumina-info-box" data-mh="box--classic">
                  <div class="info-box-image">
                    <img src="assets/img/info/info5.png" alt="icon" />
                  </div>
                  <div class="info-box-content">
                    <h3 class="info-box-title">Contacto Rápido y Sencillo</h3>
                    <p class="info-box-text">
                      Cuando veas un tutor que cumple con tus expectativas has
                      contacto directo con él al instante.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 info-cards my-3  p-4">
                <div class="crumina-module crumina-info-box" data-mh="box--classic">
                  <div class="info-box-image">
                    <img src="assets/img/info/info6.png" alt="icon" />
                  </div>
                  <div class="info-box-content">
                    <h3 class="info-box-title">
                      Diviértete Aprendiendo Cosas Nuevas
                    </h3>
                    <p class="info-box-text">
                      Cada tutor dará lo mejor de si para enseñarte lo que necesitas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
