<div class="footer footer--dark pb-3" id="footer">
  <div class="container mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
        <!-- Widget About -->

        <div class="widget w-about ">
          <a href="" class="logo d-flex justify-content-center">
            <div class="img-wrap">
              <img
                class="tuttore-logo-footer"
                src="assets/img/logo/LogoName.png"
                alt="Tuttore"
              />
            </div>
          </a>
          <p class="text-center">
            Tuttore te ayuda a encontrar a tu tutor indicado
          </p>
          <ul class="socials d-flex justify-content-center">
            <li>
              <a >
                <i class="fab fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a >
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a >
                <i class="fab fa-youtube" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a >
                <i class="fab fa-google-plus-g" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a >
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- ... end Widget About -->
      </div>

      <div class="col col-lg-2 col-md-4 col-sm-12 col-12 hide">
        <div class="widget w-list">
          <h6 class="title">Páginas</h6>
          <ul>
            <li>
              <a >Inicio</a>
            </li>
            <li>
              <a >Chat</a>
            </li>
            <li>
              <a >Perfil</a>
            </li>
            <li>
              <a >Buscar Tutor</a>
            </li>
          </ul>
        </div>

        <!-- ... end Widget List -->
      </div>

      <div class="col col-lg-2 col-md-4 col-sm-12 col-12 hide">
        <div class="widget w-list">
          <h6 class="title">Características</h6>
          <ul>
            <li>
              <a >Busca Tutor</a>
            </li>
            <li>
              <a >Convierte en Tutor</a>
            </li>
            <li>
              <a >Agrega Materias como Tutor</a>
            </li>
            <li>
              <a >Comunícate con otros</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col col-lg-2 col-md-4 col-sm-12 col-12 hide">
        <div class="widget w-list">
          <h6 class="title">Tuttore</h6>
          <ul>
            <li>
              <a >Privacidad</a>
            </li>
            <li>
              <a >Términos y condiciones</a>
            </li>
            <li>
              <a >Creadores</a>
            </li>
            <li>
              <a >¿Por Qué Tuttore?</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
