<div class="footer footer--dark pb-3" id="footer">
    <div class="container mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">


                <!-- Widget About -->

                <div class="widget w-about ">

                    <a href="" class="logo d-flex justify-content-center">
                        <div class="img-wrap">
                            <img class="tuttore-logo-footer" src="assets/img/logo/LogoName.png" alt="Tuttore">
                        </div>

                    </a>
                    <p class="text-center">Tuttore te ayuda a encontrar a tu tutor indicado </p>
                    <ul class="socials d-flex justify-content-center">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- ... end Widget About -->

            </div>

            <div class="col col-lg-2 col-md-4 col-sm-12 col-12">


                <!-- Widget List -->

                <div class="widget w-list">
                    <h6 class="title">Páginas</h6>
                    <ul>
                        <li>
                            <a href="#">Inicio</a>
                        </li>
                        <li>
                            <a href="#">Chat</a>
                        </li>
                        <li>
                            <a href="#">Perfil</a>
                        </li>
                        <li>
                            <a href="#">Buscar Tutor</a>
                        </li>
                    </ul>
                </div>

                <!-- ... end Widget List -->

            </div>

            <div class="col col-lg-2 col-md-4 col-sm-12 col-12">


                <div class="widget w-list">
                    <h6 class="title">Características</h6>
                    <ul>
                        <li>
                            <a href="#">Busca Tutor</a>
                        </li>
                        <li>
                            <a href="#">Convierte en Tutor</a>
                        </li>
                        <li>
                            <a href="#">Agrega Materias como Tutor</a>
                        </li>
                        <li>
                            <a href="#">Comunícate con otros</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col col-lg-2 col-md-4 col-sm-12 col-12">


                <div class="widget w-list">
                    <h6 class="title">Tuttore</h6>
                    <ul>
                        <li>
                            <a href="#">Privacidad</a>
                        </li>
                        <li>
                            <a href="#">Términos y condiciones</a>
                        </li>
                        <li>
                            <a href="#">Creadores</a>
                        </li>
                        <li>
                            <a href="#">¿Por Qué Tuttore?</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>