.add-Subject {
    width: 75px;
    height: 75px;
}

.animatedBackground {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../../assets/img/background-profile.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedBackground 50s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 10000px 0;
    }
}

.cancel-button {
    text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
    color: #082F47;
}

.contact-tutor {
    max-width: 500px;
}

.add-subject {
    max-width: 500px;
}

.modal-button {
    color: #fff;
    background-color: #233D4D;
    border: none;
}

.notification-event {
    width: 80%;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

 ::ng-deep .example-full-width {
    width: 100%;
}