<app-navbar> </app-navbar>
<div class=" ">
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="top-header">
                        <div class="top-header-thumb ">
                            <div class=" " style="height: 250px;">
                                <div class="animatedBackground"></div>
                                <!-- <img [src]="user.background | nobackground" alt="Portada" /> -->
                            </div>
                        </div>
                        <div class="profile-section"></div>
                        <div class="top-header-author">
                            <img class="author-thumb" [src]="user.profilePicture | noiconimage" alt="author" />
                            <div class="author-content">
                                <a class="h4 author-name">{{ user.name | titlecase }} {{ user.lastName | titlecase }} 
                </a>

                                <div class="country">{{ user.career }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Top Header-Profile -->

    <div class="container">
        <div class="row">
            <div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-1 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Materias de Tutoria {{ username }}</h6>
                    </div>
                    <div class="ui-block-content">
                        <div class="" *ngIf="user.isTutor; else addSubject">
                            <div *ngFor="let course of user.courses">
                                <div class="birthday-item inline-items border border-light rounded  m-2" style="padding-left:0px; padding-right: 15px;">
                                    <div class="birthday-author-name " style="width: 50%;">
                                        <a href="# " class="h6 author-name ">{{ course.name }}</a>

                                        <div class="birthday-date ">
                                            {{ course.code }}
                                            <!-- <Strong>4.7</Strong> -->
                                        </div>
                                    </div>

                                    <a *ngIf="id !== 'user'" class="btn btn-sm bg-blue" style="color: #fff; padding-left: 0px; padding-right: 0px; width: 35%;;">Solicitar Tutoria</a>
                                </div>
                            </div>
                        </div>
                        <ng-template #addSubject>
                            <a class="  full-block" data-toggle="modal" data-target="#create-friend-group-1"></a>

                            <div class="content text-center">
                                <div class="">
                                    <i class="fas fa-plus-square add-Subject"></i>
                                </div>
                                <div class="author-content">
                                    <h4 class="country">
                                        Conviértete en Tutor agregando materias
                                    </h4>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                  </div>

                  <a
                    *ngIf="id !== 'user'"
                    
                    class="btn btn-sm bg-blue"
                    style="color: #fff; padding-left: 0px; padding-right: 0px; width: 35%;;"
                    >Solicitar Tutoria</a>
                </div>
              </div>
            </div>
            <ng-template #addSubject>
             

              <div class="content text-center">
                <div class="">
                    <a
                 
                    data-toggle="modal"
                    data-target="#create-friend-group-1"
                  >
                  <i class="fas fa-plus-square add-Subject back"></i>
                </a> 
                </div>
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Informacion Personal</h6>
                    </div>
                    <div class="ui-block-content">
                        <!-- W-Personal-Info -->


                        <ul class="widget w-personal-info">
                            <li>
                                <span class="title">Descripcion:</span>
                                <span class="text">{{ user.description }}</span>
                            </li>
                            <li>
                                <span class="title">Email:</span>
                                <span class="text">{{ user.email }}</span>
                            </li>
                            <li>
                                <span class="title">Carrera:</span>
                                <span class="text">{{ user.career }}</span>
                            </li>
                            <li>
                                <span class="title">Promedio</span>
                                <span class="text">{{ user.gpa }}</span>
                            </li>
                            <li>
                                <span class="title">Telefono</span>
                                <span class="text">{{ user.phoneNumber }}</span>
                            </li>
                            <li>
                                <span class="title">Precio por tutoría</span>
                                <span class="text">{{ user.price }}</span>
                            </li>
                        </ul>


                        <div class="widget w-socials" *ngIf="isUser()">
                            <a class="social-item bg-blue text-white">
                                <i class="fas fa-address-book" aria-hidden="true"></i> Historial
                            </a>
                            <a class="social-item bg-blue btn text-white .modal-button" data-toggle="modal" data-target="#edit-profile">
                                <i class="fas fa-edit" aria-hidden="true"></i> Editar Informacion
                            </a>
                            <a class="social-item bg-blue text-white" data-toggle="modal" data-target="#create-friend-group-1">
                                <i class="fas fa-plus-circle" aria-hidden="true"></i> Añadir Materia
                            </a>
                        </div>
                        <div class="widget w-socials" *ngIf="!isUser()">

                            <a *ngIf="id !== 'user'" data-toggle="modal" data-target="#edit-my-poll-popup" class="btn btn-sm bg-blue w-100" style="color: #fff; padding-left: 0px; padding-right: 0px; width: 35%;;">Contactar  <i class="fas fa-comments"></i></a>
                        </div>

                        =


                        <!-- ... end W-Socials -->
                    </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="ui-block">
          <div class="ui-block-title">
            <h6 class="title">Informacion Personal</h6>
          </div>
          <div class="ui-block-content">
            <!-- W-Personal-Info -->


                            <ul class="widget w-personal-info">
                                <li>
                                    <span class="title">Descripcion:</span>
                                    <span class="text">{{ user.description }}</span>
                                </li>
                                <li>
                                    <span class="title">Email:</span>
                                    <span class="text">{{ user.email }}</span>
                                </li>
                                <li>
                                    <span class="title">Carrera:</span>
                                    <span class="text">{{ user.career }}</span>
                                </li>
                                <li>
                                    <span class="title">Promedio</span>
                                    <span class="text">{{ user.gpa }}</span>
                                </li>
                                <li>
                                    <span class="title">Telefono</span>
                                    <span class="text">{{ user.phoneNumber }}</span>
                                </li>
                            </ul>


            <div class="widget w-socials" *ngIf="isUser()">
              <a class="social-item bg-blue text-white">
                <i class="fas fa-address-book" aria-hidden="true"></i> Historial
              </a>
              <a
                class="social-item bg-blue btn text-white .modal-button"
                data-toggle="modal"
                data-target="#edit-profile"
              >
                <i class="fas fa-edit" aria-hidden="true"></i> Editar
                Informacion
              </a>
              <a
                class="social-item bg-blue text-white"
                data-toggle="modal"
                data-target="#create-friend-group-1"
              >
                <i class="fas fa-plus-circle" aria-hidden="true"></i> Añadir
                Materia
              </a>
            </div>
            <div class="widget w-socials" *ngIf="!isUser()">
             
              <!-- <a
              *ngIf="id !== 'user'"
              data-toggle="modal"
              data-target="#edit-my-poll-popup"
              class="btn btn-sm bg-blue w-100"
              style="color: #fff; padding-left: 0px; padding-right: 0px; width: 35%;;"
              [routerLink]="['/chat',username]"  
              >Contactar  <i class="fas fa-comments"></i></a> -->
              <a
              *ngIf="id !== 'user'"
              (click)="sendMessage()"
              class="btn btn-sm bg-blue w-100"
              style="color: #fff; padding-left: 0px; padding-right: 0px; width: 35%;;"
              >Contactar  <i class="fas fa-comments"></i></a>
            </div>
            
            <!-- ... end W-Socials -->
          </div>
        </div>
        <div class="ui-block">
          <div class="ui-block-title">
            <h6 class="title">Algunos Tutores Nuevos</h6>
          </div>
          <ul
            class="widget w-friend-pages-added notification-list friend-requests"
          >
            <li *ngFor="let tutor of newTutors" class="inline-items">
              <div class="author-thumb">
                <img
                  class="author-thumb"
                  [src]="tutor.profilePicture | noimage"
                  alt="author"
                />
              </div>
              <div class="notification-event">
                <a
                  [routerLink]="['/profile', tutor._id]"
                  class="h6 notification-friend"
                  >{{ tutor.name }} {{ tutor.lastName }}</a
                >
                <span class="chat-message-item">{{ tutor.career }}</span>
              </div>
            </li>
          </ul>

          <!-- ... end W-Action -->
        </div>
      </div>
      <div
        class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-2 col-sm-12 col-12"
      >

                <!-- Calendario -->
                <div  class="ui-block" style="padding: 20px;">

                  <!-- Calendario de otro tutor -->
                  <full-calendar
                    *ngIf="id!=='user'; else elseBlock"
                    defaultView="dayGridMonth"
                    [plugins]="calendarPlugins"
                    [weekends]="calendarWeekends"
                    [events]="calendarEvents"
                    [header]="calendarHeader"
                    selectable = "true"
                  ></full-calendar>

                  <!-- Calendario propio cuando se es Tutor -->

                  <ng-template #elseBlock>
                    <full-calendar 
                    *ngIf="user.isTutor; else noTutorBlock"
                    name="#calendar"
                    defaultView="dayGridMonth"
                    [plugins]="calendarPlugins"
                    [weekends]="calendarWeekends"
                    [events]="calendarEvents"
                    [header]="calendarHeader"
                    selectable = "true"
                    (eventClick) = "editEvent($event)"
                    (dateClick)="newEvent($event)"
                    ></full-calendar>
                  </ng-template>

                  <!-- Calendario propio cuando no se es Tutor -->

                  <ng-template #noTutorBlock>
                    <full-calendar 
                    name="#calendar"
                    defaultView="dayGridMonth"
                    [plugins]="calendarPlugins"
                    [weekends]="calendarWeekends"
                    [events]="[
                      { title: 'event 2', date: '2019-11-19' }
                    ]"
                    [header]="calendarHeader"
                    selectable = "true"
                    ></full-calendar>
                  </ng-template>

                </div>
                
                <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#new-event"></button>
                <button id="update" [hidden]="true" data-toggle="modal" data-target="#update-event"></button>

                
                <!-- Fin de calendario -->

                <div class="ui-block ">
                    <div class="crumina-module crumina-heading with-title-decoration m-5 ">
                        <h5 class="heading-title ">Comentarios</h5>
                    </div>
                    <ul class="comments-list style-3 ">
                        <li *ngFor="let item of [1, 1, 1, 1]; let i = index" class="comment-item ">
                            <div class="post__author-thumb ">
                                <img [src]="item.profilePicture | noiconimage" alt="author " />
                            </div>


              <div class="comments-content ">
                <div class="post__author author vcard ">
                  <div class="author-date ">
                    <a class="h6 post__author-name fn " href="# "
                      >Estudiante {{ i }}</a
                    >
                    <div class="post__date ">
                      <time class="published " datetime="2004-07-24T18:18 ">
                        2{{ i }} mins ago
                      </time>
                    </div>
                  </div>
                </div>

                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium der doloremque laudantium.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="modal animated zoomIn faster"
      id="new-event"
      tabindex="-1"
      role="dialog"
      aria-labelledby="create-event"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered window-popup create-event" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h6 style="margin: auto;">
              ¿Que tipo de evento deseas agregar?
            </h6>
          </div>

          <div class="modal-body">
            <form (ngSubmit)="onSubmit()">
              <select 
                class="custom-select" 
                style="margin-bottom: 20px;"
                [(ngModel)]="selector"
                name="selector"
                ngModel
              >
                  <option> Disponible </option>
                  <option> Tutoría </option>
              </select>

              <div class="row">
                <button class="btn modal-button" style="margin-left:25%; margin-bottom: 0px; margin-top: 5px;" type="submit">
                  Aceptar
                </button>
                
                <button id="close" class="btn modal-button" style="margin-left: 33px; margin-bottom: 0px; margin-top: 5px;"data-dismiss="modal">
                  Cancelar
                </button>
              </div>
            </form>   

            
          </div>

        </div>
      </div>
    </div>

    <!-- ------------------Otro Modal---------------------------- -->

    <div
    class="modal animated zoomIn faster"
    id="update-event"
    tabindex="-1"
    role="dialog"
    aria-labelledby="create-event"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered window-popup create-event" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h6 style="margin: auto;">
            ¿Desea cambiar {{thisEvent}} por {{oppositeEvent}}?
          </h6>
        </div>

        <div class="modal-body">
          <div class="row">
            <button class="btn modal-button" style="margin:auto" (click)="update()">
              Aceptar
            </button>
                
            <button id="closeUpdate" class="btn modal-button" style="margin:auto;" data-dismiss="modal">
              Cancelar
            </button>

            <button class="btn modal-button" style="margin:auto; background-color: red;" (click)="delete()">
              Eliminar
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

    

    <div
      class="modal  animated zoomIn faster"
      id="edit-profile"
      tabindex="-1"
      role="dialog"
      aria-labelledby="create-event"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered window-popup create-event"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="title">
              Edita tu Perfil - Funcionalidad en desarrollo
            </h6>
            <div class="cancel-button " data-dismiss="modal">
              <i class="fas fa-window-close"></i>
            </div>
          </div>
          <form #editForm="ngForm">
            <div class="modal-body">
              <div class="row">
                <div class="col-6">
                  <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Nombre</label>
                    <input
                      class="form-control"
                      placeholder=""
                      value=""
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Apellido</label>
                    <input
                      class="form-control"
                      placeholder=""
                      value=""
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Email</label>
                    <input
                      class="form-control"
                      placeholder=""
                      value=""
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Carrera</label>
                    <input
                      class="form-control"
                      placeholder=""
                      value=""
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Telefono</label>
                    <input
                      class="form-control"
                      placeholder=""
                      value=""
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Promedio</label>
                    <input
                      class="form-control"
                      placeholder=""
                      value=""
                      type="text"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group label-floating">
                <label class="control-label">Descripcion</label>
                <textarea class="form-control" placeholder=""> </textarea>
              </div>

              <button class="btn modal-button btn-lg full-width" type="submit">
                Guardar Cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal animated zoomIn faster"
      id="create-friend-group-1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="create-friend-group-1"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered window-popup create-event"
        role="document"
      >
        <div class="modal-content ">
          <div *ngIf="user.isTutor" class="modal-body ">
            <div *ngIf="!fulltutor(); else noAvaliableSubjects">
              <div class="cancel-button" data-dismiss="modal">
                <i class="fas fa-window-close"></i>
              </div>
              <div class="modal-header justify-content-center">
                <h6 class="title">
                  incluye Materia de Tutoria
                </h6>
              </div>
              <form
                class="example-form text-center "
                (ngSubmit)="add_Subject()"
              >
                <mat-form-field
                  class="full-width mb-5
            example-full-width"
                  style="border: 1px solid rgb(222, 226, 230);
      padding: 3px 25px 0;
      border-radius: 6px;;"
                >
                  <label style="font: 14px; ">Busca tu Materia:</label>
                  <input
                    type="text"
                    aria-label="Number"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="getData($event.option.value)"
                  >
                    <mat-option
                      *ngFor="let option of filteredOptions | async"
                      [value]="option"
                    >
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div class="button-form">
                  <button
                    class="btn btn-primary btn-md-2 mt-3 modal-button"
                    type="submit"
                  >
                    Añadir
                  </button>
                </div>
              </form>
            </div>
            <ng-template #noAvaliableSubjects>
              <div class=" justify-content-center text-center">
                <h6>
                  Por el momento ya eres tutor de todas las materias que tenemos
                  disponibles
                </h6>
                <button
                  class="btn btn-primary btn-md-2 mt-3 modal-button"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </ng-template>
          </div>

          <div *ngIf="!user.isTutor" class="modal-body">
            <h6 class="title">
              Estas a punto de convertirte en tutor
            </h6>
            <label class="control-label"
              >Escribe una breve descripcion de ti como tutor y elige la primera
              materia de la cual quieres ser tutor</label
            >
            <form
              #logInForm="ngForm"
              (ngSubmit)="becomeTutor()"
              novalidate
              class="content"
            >
              <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group label-floating">
                    <label for="email" class="control-label"
                      >Descripcion:</label
                    >
                    <textarea
                      required
                      ngModel
                      name="description"
                      #email="ngModel"
                      class="form-control"
                      minlength="25"
                      [(ngModel)]="description"
                    ></textarea>
                    <div
                      class="alert alert-danger"
                      *ngIf="email.touched && !email.valid"
                    >
                      Tu descripcion debe tener al menos 25 caracteres
                    </div>
                  </div>
                  
                  <div class="form-group label-floating">
                      <label for="price" class="control-label"
                        >Precio por tutoria (COP):</label
                      >
                      <input
                        required
                        ngModel
                        name="price"
                        #number="ngModel"
                        class="form-control"
                        placeholder=""
                        type="number"
                        step="0.1"
                        [(ngModel)]="price"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="(number.touched && !number.valid) || price < 0"
                      >
                        Ingrese un precio valido
                      </div>
                  </div>
                  
                  

                  <mat-form-field
                    class="full-width mb-5
                    example-full-width"
                    style="border: 1px solid;
                    padding: 3px 25px 0;
                    border-radius: 6px;;"
                  >
                    <label style="font: 14px;">Busca tu Materia:</label>
                    <input
                      type="text"
                      aria-label="Number"
                      matInput
                      [formControl]="myControl"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="getData($event.option.value)"
                    >
                      <mat-option
                        *ngFor="let option of filteredOptions | async"
                        [value]="option"
                      >
                        {{ option }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <button
                    class="btn btn-lg btn-primary full-width modal-button"
                    type="submit"
                  >
                    Añadir
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal  animated zoomIn faster" id="edit-my-poll-popup">
      <div
        class="modal-dialog modal-dialog-centered window-popup contact-tutor"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-body">
            <div class="edit-my-poll-content">
              <form
                class="resume-form"
                #contactForm="ngForm"
                (ngSubmit)="sendMessage(contactForm)"
              >
                <div class="row">
                  <div
                    class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                  >
                    <div class="cancel-button"
                    id="CloseButton"
                    data-dismiss="modal">
                      <i class="fas fa-window-close"></i>
                    </div>
                    <h3>Envía un mensaje al tutor para contactarte !</h3>
                    <p>
                      Una vez envies el mensajes el tutor aparecerá disponible
                      en tu chat para una mejor comunicación
                    </p>
                    <div class="form-group label-floating is-empty">
                      <textarea
                        class="form-control"
                        placeholder="Tu mensaje"
                        [(ngModel)]="contactMessage"
                        name="contactMessage"
                        
                      ></textarea>
                    </div>
                    
                    <button
                      class="btn btn-primary btn-lg full-width modal-button"
                       
                      
                      type="submit"
                     
                      >Enviar</button
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>