<app-navbar>
</app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-thumb ">
                        <div class=" ">
                            <img [src]="user.background | nobackground" alt="Portada">
                        </div>
                    </div>
                    <div class="profile-section">
                    </div>
                    <div class="top-header-author">
                        <img class="author-thumb" [src]="user.profilePicture | noiconimage" alt="author">
                        <div class="author-content">
                            <a href="02-ProfilePage.html" class="h4 author-name">{{user.name | titlecase}} {{user.lastName | titlecase}}</a>
                            <div class="country">{{user.career}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Top Header-Profile -->

<div class="container">
    <div class="row">
        <div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Informacion Personal</h6>

                </div>
                <div class="ui-block-content">


                    <!-- W-Personal-Info -->

                    <ul class="widget w-personal-info">
                        <li>
                            <span class="title">Descripcion:</span>
                            <span class="text">{{user.description}}</span>
                        </li>
                        <li>
                            <span class="title">Email:</span>
                            <span class="text">{{user.email}}</span>
                        </li>
                        <li>
                            <span class="title">Carrera:</span>
                            <span class="text">{{user.career}}</span>
                        </li>
                        <li>
                            <span class="title">Promedio</span>
                            <span class="text">{{user.gpa}}</span>
                        </li>
                        <li>
                            <span class="title">Telefono</span>
                            <span class="text">{{user.phoneNumber}}</span>
                        </li>

                    </ul>

                    <div class="widget w-socials">
                        <a class="social-item bg-blue text-white">
                            <i class="fas fa-address-book" aria-hidden="true"></i> Historial
                        </a>
                        <a h class="social-item bg-blue text-white" data-toggle="modal" data-target="#edit-profile">
                            <i class="fas fa-edit" aria-hidden="true"></i> Editar Informacion
                        </a>
                        <a class="social-item bg-blue text-white" data-toggle="modal" data-target="#create-friend-group-1">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i> Añadir Materia
                        </a>
                    </div>


                    <!-- ... end W-Socials -->
                </div>
            </div>
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Algunos Tutores Nuevos</h6>

                </div>
                <ul class="widget w-friend-pages-added notification-list friend-requests">
                    <li *ngFor="let tutor of newTutors" class="inline-items">
                        <div class="author-thumb">
                            <img class="author-thumb" [src]="tutor.profilePicture | noimage" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">{{tutor.name}} {{tutor.lastName}}</a>
                            <span class="chat-message-item">Carrera del tutor</span>
                        </div>

                    </li>


                </ul>

                <!-- ... end W-Action -->
            </div>

        </div>
        <div class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-2 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Materias de Tutoria</h6>

                </div>
                <div class="ui-block-content">
                    <div class="row" *ngIf="user.isTutor; else addSubject">
                        <div *ngFor="let course of user.courses " class="col col-lg-6 col-md-6 col-sm-12 col-12">

                            <div class="birthday-item inline-items border border-light rounded  m-2">

                                <div class="birthday-author-name ">
                                    <a href="# " class="h6 author-name ">{{course.name}}</a>
                                    <div class="birthday-date ">{{course.code}}
                                        <!-- <Strong>4.7</Strong> -->
                                    </div>
                                </div>
                                <a href="20-CalendarAndEvents-MonthlyCalendar.html " class="btn btn-sm bg-blue ">Contactar</a>
                            </div>
                        </div>

                    </div>
                    <ng-template #addSubject>
                        <a class="  full-block" data-toggle="modal" data-target="#create-friend-group-1"></a>
                        <div class="content text-center">
                            <div class="">
                                <i class="fas fa-plus-square add-Subject"></i>
                            </div>
                            <div class="author-content">
                                <h4 class="country">Conviértete en Tutor agregando materias</h4>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="ui-block ">


                <!-- Full Calendar -->

                <div id="calendar " class="crumina-full-calendar ">
                </div>

                <!-- ... end Full Calendar -->
            </div>
            <!-- comments -->
            <div class="ui-block ">

                <div class="crumina-module crumina-heading with-title-decoration m-5 ">
                    <h5 class="heading-title ">Comentarios (n)</h5>
                </div>


                <!-- Comments -->

                <ul class="comments-list style-3 ">
                    <li *ngFor="let item of [] " class="comment-item ">
                        <div class="post__author-thumb ">
                            <img [src]="item.profilePicture | noiconimage" alt="author ">
                        </div>

                        <div class="comments-content ">
                            <div class="post__author author vcard ">

                                <div class="author-date ">
                                    <a class="h6 post__author-name fn " href="# ">Nicholas Grissom</a>
                                    <div class="post__date ">
                                        <time class="published " datetime="2004-07-24T18:18 ">
                          27 mins ago
                        </time>
                                    </div>
                                </div>

                            </div>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.
                            </p>

                        </div>

                    </li>

                </ul>
            </div>
        </div>


    </div>

</div>

































<div class="modal fade" id="edit-profile" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
    <div class="modal-dialog window-popup create-event" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="title">Edit your Profile</h6>
            </div>

            <div class="modal-body">

                <div class="form-group label-floating mb-2">
                    <label class="control-label">Name</label>
                    <input class="form-control" placeholder="" type="text">
                </div>


                <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Email</label>
                    <input class="form-control" placeholder="" value="" type="text">
                </div>

                <div class="form-group label-floating is-empty mb-2">
                    <label class="control-label">Carrera</label>
                    <input class="form-control" placeholder="" value="" type="text">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group label-floating is-empty mb-2">
                            <label class="control-label">Telefono</label>
                            <input class="form-control" placeholder="" value="" type="text">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group label-floating is-empty mb-2">
                            <label class="control-label">Promedio</label>
                            <input class="form-control" placeholder="" value="" type="text">
                        </div>
                    </div>
                </div>



                <div class="form-group label-floating">
                    <label class="control-label">Event Description</label>
                    <textarea class="form-control" placeholder="">I need to take Querty for a check up and ask the doctor if he needs a new tank.
                        </textarea>
                </div>



                <button class="btn btn-breez btn-lg full-width">Create Event</button>

            </div>
        </div>
    </div>
</div>






















<div class="modal fade" id="create-friend-group-1" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-1" aria-hidden="true">
    <div class="modal-dialog window-popup create-friend-group create-friend-group-1" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 *ngIf="user.isTutor" class="title">incluye Materia de Tutoria</h6>
                <h6 *ngIf="!user.isTutor" class="title">Estas a punto de convertire en tutor</h6>
            </div>

            <div *ngIf="user.isTutor" class="modal-body">
                <form class="example-form mt-5 " (ngSubmit)="add()">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Nombre Materia" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getData($event.option.value)'>
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="button-form">
                        <button class="btn btn-primary btn-md-2 mt-3" type="submit">Enviar</button>
                    </div>
                </form>
            </div>

            <div *ngIf="!user.isTutor" class="modal-body">
                <label class="control-label">Escribe una breve descripcion de ti como tutor y elige la primera materia de la cual quieres ser tutor</label>
                <form #logInForm="ngForm" (ngSubmit)="becomeTutor()" novalidate class="content">
                    <div class="row">
                        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group label-floating">
                                <label for="email" class="control-label">Descripcion:</label>
                                <textarea required ngModel name="description" #email="ngModel" class="form-control" minlength="25" [(ngModel)]="description"></textarea>
                                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                                    Tu descripcion debe tener al menos 25 caracteres
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary full-width" style="background-color: #00BBF0;border-color: #00BBF0">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>