<header class="header" id="site-header">
    <div class="logo-container" routerLink="home">
        <img src="assets/img/logo/Logo.png" alt="Tuttore">
    </div>
    <div class="header-content-wrapper">
        <div class="control-block mr-5 px-0">
            <div class="author-page author vcard inline-items more" routerLink="profile">
                <div class="author-thumb">
                    <img alt="author" src="assets/img/author-page.jpg" class="avatar">
                    <span class="icon-status online"></span>
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ">
                                <h6 class="title">Your Account</h6>
                            </div>

                            <ul class="account-settings">
                                <li>
                                    <a href="#">

                                        <svg class="olymp-menu-icon">
                      <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                    </svg>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg class="olymp-logout-icon">
                      <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-logout-icon"></use>
                    </svg>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
                <a href="#" class="author-name">
                    <div class="author-title">
                        James Spiegel <svg class="olymp-dropdown-arrow-icon">
              <use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use>
            </svg>
                    </div>
                    <span class="author-subtitle">SPACE COWBOY</span>
                </a>
            </div>

        </div>
    </div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->