.logo-container img {
    height: 100%;
    width: auto;
    ;
}

.logo-container {
    width: 60px;
    ;
    height: 100%;
    margin: 0;
    ;
}

#site-header {
    display: flex;
    justify-content: space-between;
}

*:focus {
    outline: none;
}

.account-settings li{
    padding-left: 25px;
    padding-right: 25px;
}
.account-settings li:hover{
    background-color: #ECFBFF;
 
}