<header class="header" id="site-header">
  <div class="logo-container" routerLink="/home">
    <img src="assets/img/logo/Logo.png" alt="Tuttore" />
  </div>

  <div class="header-content-wrapper">
      <div class="search" [routerLink]="['/search']" >
          <div >
              <i class="fas fa-search"></i>
              <p>Buscar Tutor</p>
            </div>
        </div>
    <div class="control-block mr-5 px-0">
      <div class="author-page author vcard inline-items more">
        <div class="author-thumb">
          <img
            alt="author"
            src="assets/img/no-profile-icon.png"
            class="avatar"
          />
          <div class="more-dropdown more-with-triangle">
            <div class="mCustomScrollbar" data-mcs-theme="dark">
              <div class="ui-block-title ">
                <h6 class="title">{{ user.email }}</h6>
              </div>
              <ul class="account-settings">
                <li>
                  <a (click)="profileSettings()">
                    <svg class="olymp-menu-icon">
                      <use
                        xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"
                      ></use>
                    </svg>
                    <span>Mi perfil</span>
                  </a>
                </li>
                <li>
                  <a (click)="logOut()">
                    <svg class="olymp-logout-icon">
                      <use
                        xlink:href="assets/svg-icons/sprites/icons.svg#olymp-logout-icon"
                      ></use>
                    </svg>
                    <span>Desconectarse</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a class="author-name">
          <div class="author-title" style="font-size: 16px; font-weight: 300;">
            {{ user.name | titlecase }} {{ user.lastName | titlecase }}
            <svg class="olymp-dropdown-arrow-icon">
              <use
                xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"
              ></use>
            </svg>
          </div>
          <span
            *ngIf="user.isTutor"
            class="author-subtitle"
            style="font-size: 12px;"
            >ROL:Tutor</span
          >
          <span
            *ngIf="!user.isTutor"
            class="author-subtitle"
            style="font-size: 12px;"
            >ROL:Estudiante</span
          >
        </a>
      </div>
    </div>
  </div>
</header>

<!-- ... end Header-BP -->

<!-- Responsive Header-BP -->
