<section class="hero">
    <div class="col-lg-8 search verticalCenter">
        <div class="text mb-3">
            <h1 class=" animated flipInX">Encuentra Tu Tutor</h1>

            <p class="paragraph">El proceso de aprendizaje se fortalece cuando compartes tus conocimientos, esto hará que tengas que re-estructurar la información que quieres compartir, aclarando conceptos y evidenciado los vacíos que tienes.</p>
        </div>
        <form>

            <div class="col-auto mt-5 ">
                <button (click)="btnClick()" type=" button " class="btn btn-lg btn-success ">Buscar</button>

            </div>
        </form>

    </div>
</section>