<div class="row display-flex ">
  <div
    class="col col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 image-register"
  ></div>

  <div
    class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12"
    style="padding: 0"
  >
    <!-- Login-Registration Form  -->
    <div class="registration-login-form" >
      <!-- Tab panes -->
      <div class="tab-content ">
        <div
          class="tab-pane active"
          id="home"
          role="tabpanel"
          data-mh="log-tab"
        >
          <a class="logo d-flex justify-content-center">
            <div class="img-wrap">
              <img
                class="tuttore-logo-footer"
                src="assets/img/logo/LogoName.png"
                alt="Tuttore"
              />
            </div>
          </a>
          <form
            #signUpForm="ngForm"
            (ngSubmit)="onSubmit(signUpForm)"
            novalidate
            class="content animated bounceInRight"
          >
            <div class="row">
              <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <span
                  class="alert text-danger"
                  *ngIf="
                    signUpForm.submitted && signUpForm.controls['name'].errors
                  "
                  >El nombre es obligatorio</span
                >
                <div class="form-group label-floating">
                  <label for="name" class="control-label">Nombre</label>
                  <input
                    required
                    ngModel
                    name="name"
                    #name="ngModel"
                    class="form-control"
                    placeholder=""
                    type="text"
                    id="name"
                    [(ngModel)]="newStudent.name"
                  />
                </div>
              </div>
              <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <span
                  class="alert text-danger"
                  *ngIf="
                    signUpForm.submitted &&
                    signUpForm.controls['lastName'].errors
                  "
                >
                  El apellido es obligatorio</span
                >
                <div class="form-group label-floating">
                  <label for="lastName" class="control-label">Apellido</label>
                  <input
                    required
                    ngModel
                    name="lastName"
                    #lastName="ngModel"
                    class="form-control"
                    placeholder=""
                    type="text"
                    id="lastName"
                    [(ngModel)]="newStudent.lastName"
                  />
                </div>
              </div>
              <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <span
                  class="alert text-danger"
                  *ngIf="
                    (signUpForm.submitted &&
                      signUpForm.controls['gpa'].errors) ||
                    signUpForm.value.gpa < 0 ||
                    signUpForm.value.gpa > 5
                  "
                  >El P.A.P.A debe estar entre 0-5</span
                >
                <div class="form-group label-floating">
                  <label for="gpa" class="control-label">P.A.P.A</label>
                  <input
                    required
                    ngModel
                    name="gpa"
                    #gpa="ngModel"
                    class="form-control"
                    placeholder=""
                    type="number"
                    step="0.1"
                    id="gpa"
                    [(ngModel)]="newStudent.gpa"
                    min="0"
                    max="5"
                  />
                </div>
              </div>
              <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <span
                  class="alert text-danger"
                  *ngIf="
                    signUpForm.submitted &&
                    signUpForm.controls['phoneNumber'].errors
                  "
                >
                  El teléfono es obligatorio
                </span>
                <div class="form-group label-floating">
                  <label for="phoneNumber" class="control-label"
                    >Teléfono</label
                  >
                  <input
                    required
                    ngModel
                    name="phoneNumber"
                    #phoneNumber="ngModel"
                    class="form-control"
                    placeholder=""
                    type="number"
                    id="phoneNumber"
                    [(ngModel)]="newStudent.phoneNumber"
                  />
                </div>
              </div>

              <div class="col col-12 col-xl-12 col-lg-12 col-md-6 col-sm-12">
                <span
                  class="alert text-danger"
                  *ngIf="
                    signUpForm.submitted && signUpForm.controls['email'].errors
                  "
                >
                  El email no es válido
                </span>
                <div class="form-group label-floating input-group mb-3">
                  <label for="email" class="control-label"
                    >Correo electrónico</label
                  >
                  <input
                    required
                    ngModel
                    name="email"
                    #email="ngModel"
                    class="form-control"
                    placeholder=""
                    id="email"
                    [(ngModel)]="newStudent.email"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="email-company"
                      >@unal.edu.co</span
                    >
                  </div>
                </div>
              </div>
              <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <span
                  class="alert text-danger"
                  *ngIf="
                    signUpForm.submitted && signUpForm.controls['carrer'].errors
                  "
                >
                  La carrera es requerida
                </span>
                <div class="form-group label-floating">
                  <label for="carrer" class="control-label">Carrera</label>
                  <input
                    required
                    ngModel
                    name="carrer"
                    #carrer="ngModel"
                    class="form-control"
                    placeholder=""
                    type="text"
                    id="carrer"
                    [(ngModel)]="newStudent.career"
                  />
                  <div
                    class="alert text-danger"
                    *ngIf="carrer.touched && !carrer.valid"
                  ></div>
                </div>
              </div>

              <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div *ngIf="signUpForm.controls['password']">
                  <div *ngIf="signUpForm.controls['password'].errors != null">
                    <span
                      class="alert text-danger"
                      *ngIf="
                        signUpForm.submitted &&
                        signUpForm.controls['password'].errors.required
                      "
                    >
                      La contraseña es requerida
                    </span>
                    <span
                      class="alert text-danger"
                      *ngIf="
                        signUpForm.submitted &&
                        signUpForm.controls['password'].errors.minlength
                      "
                    >
                      La contraseña debe ser de
                      {{
                        signUpForm.controls["password"].errors.minlength
                          .requiredLength
                      }}
                      caractéres o más
                    </span>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <label for="password" class="control-label">Contraseña</label>
                  <input
                    required
                    minlength="6"
                    ngModel
                    name="password"
                    #password="ngModel"
                    class="form-control"
                    placeholder=""
                    type="password"
                    id="password"
                    [(ngModel)]="newStudent.password"
                  />
                </div>
              </div>

              <div class="col col-12 col-xl-12 col-lg-12 col-md-6 col-sm-12">
                <div
                class="form-group label-floating"

                >
                <label for="text"
                style="margin-bottom: 0px;;"
                >Foto de perfil</label>
                  <input
                  style="text-align:center; border: none;padding: 5px 5px 7px 70px"
                  placeholder="Foto de perfil"
                    id="file-upload"
                    type="file"
                    (change)="onFileSelected($event)"
                    value="like"
                    accept=".jpeg,.jpg,.png"
                  />
                </div>
              </div>

              <button
                class="btn btn-primary btn-lg full-width "
                style="background-color: #233D4D; border-color: #233D4D; margin-top: 20px;"
                type="submit"
              >
                Completar Registro
              </button>
            </div>
          </form>

          <div class="content animated bounceInRight pb-5">
            <button
              (click)="signIn()"
              class="btn btn-lg btn-primary full-width"
              style="background-color: #00BBF0;border-color: #00BBF0"
            >
              Iniciar con Google
            </button>

            <p class="pb-5">
              ¿Ya tienes una cuenta?
              <a [routerLink]="['/sign-in']">Inicia sesión ahora</a> y
              ¡Encuentra tutores para las materias que necesites!
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ... end Login-Registration Form  -->
  </div>
</div>
