<div class="row display-flex">
    <div class="col col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 image-register">

    </div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" style="padding: 0;height: 100vh;">

        <!-- Login-Registration Form  -->

        <div class="registration-login-form" style="padding: 0; height: 100vh;">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" data-mh="log-tab">
                    <div class="title h6">Registrate a Tuttore</div>
                    <form #signUpForm="ngForm" (ngSubmit)="onSubmit()" novalidate class="content">
                        <a class="logo d-flex justify-content-center">
                            <div class="img-wrap">
                                <img class="tuttore-logo-footer" src="assets/img/logo/LogoName.png" alt="Tuttore">
                            </div>
                        </a>
                        <div class="row">
                            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group label-floating">
                                    <label for="name" class="control-label">Nombre</label>
                                    <input required ngModel name="name" #name="ngModel" class="form-control" placeholder="" type="text" id="name" [(ngModel)]="newStudent.name">
                                    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">El nombre es requerido</div>
                                </div>
                            </div>
                            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group label-floating">
                                    <label for="lastName" class="control-label">Apellido</label>
                                    <input required ngModel name="lastName" #lastName="ngModel" class="form-control" placeholder="" type="text" id="lastName" [(ngModel)]="newStudent.lastName">
                                    <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">
                                        El apellido es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group label-floating">
                                    <label for="email" class="control-label">Correo electrónico</label>
                                    <input required ngModel name="email" #email="ngModel" class="form-control" placeholder="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" [(ngModel)]="newStudent.email">
                                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                                        El email no es válido
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <label for="password" class="control-label">Contraseña</label>
                                    <input required minlength="6" ngModel name="password" #password="ngModel" class="form-control" placeholder="" type="password" id="password" [(ngModel)]="newStudent.password">
                                    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                                        <div *ngIf="password.control.errors.required">
                                            La contraseña es requerida
                                        </div>
                                        <div *ngIf="password.control.errors.minlength">
                                            La contraseña debe ser de {{ password.control.errors.minlength.requiredLength }} caractéres o más
                                        </div>
                                    </div>
                                </div>

                                <button [disabled]="signUpForm.form.invalid" class="btn btn-purple btn-lg full-width" type="submit">Completar Registro!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ... end Login-Registration Form  -->
    </div>
</div>