<script>
    gapi.load('auth2', function() {
        gapi.auth2.init();
    });
</script>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>

<div class="row display-flex">
    <div class="col col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 image-login"></div>

    <div class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" style="padding: 0">
        <!-- Login-Registration Form  -->

        <div class="registration-login-form" style="padding: 0; height: 100vh;">
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
                    <a class="logo d-flex justify-content-center">
                        <div class="img-wrap">
                            <img class="tuttore-logo-footer" src="assets/img/logo/LogoName.png" alt="Tuttore" />
                        </div>
                    </a>
                    <form #logInForm="ngForm" (ngSubmit)="onSubmit(logInForm)" novalidate class="content animated bounceInLeft">
                        <div class="row">
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <span class="alert text-danger" *ngIf="
                    logInForm.submitted && logInForm.controls['email'].errors
                  ">
                  El email no es válido
                </span>
                                <div class="form-group label-floating">
                                    <label for="email" class="control-label">Correo electrónico</label
                  >
                  <input
                    required
                    ngModel
                    name="email"
                    #email="ngModel"
                    class="form-control"
                    placeholder=""
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    id="email"
                    [(ngModel)]="incomingStudent.email"
                  />
                </div>
                <div *ngIf="logInForm.controls['password']">
                  <div *ngIf="logInForm.controls['password'].errors != null">
                    <span
                      class="alert text-danger"
                      *ngIf="
                        logInForm.submitted &&
                        logInForm.controls['password'].errors.required
                      "
                    >
                      La contraseña es requerida
                    </span>
                    <span
                      class="alert text-danger"
                      *ngIf="
                        logInForm.submitted &&
                        logInForm.controls['password'].errors.minlength
                      "
                    >
                      La contraseña debe ser de
                      {{
                        logInForm.controls["password"].errors.minlength
                          .requiredLength
                      }}
                      caractéres o más
                    </span>
                  </div>
                </div>

                <div class="form-group label-floating">
                  <label for="password" class="control-label">Contraseña</label>
                                    <input required minlength="6" ngModel name="password" #password="ngModel" class="form-control" placeholder="" type="password" id="password" [(ngModel)]="incomingStudent.password" />
                                </div>
                                <button class="btn btn-lg btn-primary full-width" style="background-color: #233D4D; border-color: #233D4D">
                  Iniciar sesión
                </button>
                            </div>
                        </div>
                    </form>
                    <div class="content animated bounceInLeft" style="padding-right: 25px; padding-left: 25px;">
                        <button id="googleBtn" class="btn btn-lg btn-primary full-width" style="background-color: #00BBF0;border-color: #00BBF0">
                        Iniciar con Google
                      </button>
                        <p>
                            ¿No tienes una cuenta aún?
                            <a [routerLink]="['/sign-up']">Regístrate ahora!</a> y encuentra tutores para las materias que necesites!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" onclick="signOut();">Sign out</a>

        <!-- ... end Login-Registration Form  -->
    </div>
</div>