<app-navbar class="container mb-5"> </app-navbar>
<div class=" mt-5"

>
  <div class="row">
    <div class="col ">
      <div class="ui-block">
        <div class="ui-block-title">
          <Button class="btn btn-sm bg-blue" [ngClass] ="{'hide':!messagesActivated()}"  [routerLink]="['/chat']" > <i class="fas fa-angle-left"></i> </Button>
          <h6 class="title">Chat / Mensajes</h6>
        </div>
        <div class="row">
          <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 padding-r-0 "
          [ngClass] ="{'hide':messagesActivated()}"
          >
            <ul
            id="app-chats"
            class="notification-list chat-message ">
              <ng-container *ngFor="let chat of chats">
                <li
                
                  class="d-flex justify-content-around my-1 py-1"
                  *ngIf="myUser == chat.userId2"
                  routerLink="/chat/{{ chat.userId1 }}"
                >
                  <div class="author-thumb">
                    <img src="assets/img/no-profile-icon.png" alt="author" />
                  </div>
                  <div class="notification-event">
                    <a class="h6 notification-friend"
                    style=" color: #00bbf0;"
                    >{{ chat.userId1 }}</a>

                    <span class="chat-message-item">{{
                      chat.lastmessage
                    }}</span>
                    <span class="notification-date"
                      ><time
                        class="entry-date updated"
                        datetime="2004-07-24T18:18"
                        >{{ chat.lastmessagedate }}</time
                      ></span
                    >
                  </div>
                  <span class="notification-icon"> </span>
                </li>

                <li
                class="d-flex justify-content-around my-1 py-1"
                  *ngIf="myUser != chat.userId2"
                  routerLink="/chat/{{ chat.userId2 }}"
                >
                  <div class="author-thumb">
                    <img src="assets/img/no-profile-icon.png" alt="author" />
                  </div>
                  <div class="notification-event">
                    <a class="h6 notification-friend" 
                    style=" color: #00bbf0;"
                    >{{ chat.userId2 }}</a>
                    <span class="chat-message-item">{{
                      chat.lastmessage
                    }}</span>
                    <span class="notification-date"
                      ><time
                        class="entry-date updated"
                        datetime=""
                        > {{chat.lastmessagedate | translateDate}} </time
                      ></span
                    >
                  </div>
                  <span class="notification-icon"> </span>
                </li>
              </ng-container>
            </ul>
          </div>
          <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 padding-l-0"
          [ngClass] ="{'hide':!messagesActivated()}"
          >
            <div class="chat-field">
              <div class="m" data-mcs-theme="dark">
                <ul
                  id="app-mensajes"
                  class="notification-list chat-message chat-message-field"
                >
                  <li
                    *ngFor="let message of messages"
                    [ngClass]="{
                      blue: myUser == message.ownerId,
                      red: myUser != message.ownerId
                    }"
                    class=" "
                  >
                    <div class="author-thumb " *ngIf="myUser != message.ownerId">
                      <img src="assets/img/no-profile-icon.png" alt="author" />
                    </div>
                    <div class="notification-event col-9">
                      <!-- <a class="h6 notification-friend">{{
                        message.ownerId
                      }}</a> -->
                      <span class="notification-date"
                        ><time
                          class="entry-date updated"
                          datetime="2004-07-24T18:18"
                          ><strong>{{ message.date | translateDate }}</strong></time
                        ></span
                      >
                      <p class="chat-message-item pt-3">
                        {{ message.message }}
                      </p>
                    </div>
                    <div class="author-thumb " *ngIf="myUser == message.ownerId">
                      <img src="assets/img/no-profile-icon.png" alt="author" />
                    </div>
                  </li>
                </ul>
              </div>

              <form>
                <div class="form-group label-floating is-empty">
                  <input
                  autocomplete="off"
                  rows="2"
                  style="height: 100px;"
                    type="text"
                    name="message"
                    class="form-control m-1"
                    [(ngModel)]="message"
                    placeholder="Enviar Mensaje"
                   
                  >
                  <div class="add-options-message">
                    <button
                      class="btn btn-primary btn-sm"
                      (click)="sendMessage()"
                    >
                      Enviar
                    </button>
                </div>

                
                </div>
              </form>
            </div>

            <!-- ... end Chat Field -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
