.chat-message-item{
    word-wrap:break-word;
    text-align: justify;
    
}
#app-mensajes{
    overflow-y:scroll;
    height: 500px;  
    
   
    /*background:gray;*/
    padding: 5px;
  }

  .blue{
      color: #082F47;
      margin: 10px 0 10px 25%;
      border-radius: 20px;
      background-color: #ECFBFF;
      padding: 15px;
    }
    .red{
        color: #082F47;
        margin: 10px 25% 10px 0;
        background: #B1EEFF;
      border-radius: 20px;
      padding: 15px;
  }

  .m{
      height: 500px;
      overflow: hidden;
  }

  #app-mensajes::-webkit-scrollbar {
    background-color: #B1EEFF;
    outline: 1px solid red;
  }
  #app-mensajes::-webkit-scrollbar-thumb{
    background-color:#0B5F77;
    border-radius:5px;
    }
