<div class="crumina-module crumina-teammembers-item card px-2 py-2 my-2" *ngIf="tutor">
  <div class="teammembers-thumb img">
    <!-- <img class="main" src="assets/img/no-profile-image.png" alt="Tutor" />
    <img class="hover" src="assets/img/no-profile-image.png" alt="Tutor" /> -->
    <img class="main" [src]="tutor.profilePicture | noimage" alt="Tutor" />
    <img class="hover" [src]="tutor.profilePicture | noimage" alt="Tutor" />
  </div>

  <div class="teammember-content content">
    <a [routerLink]="['/profile', tutor._id]" class="h5 teammembers-item-name"
      >{{ tutor.name | titlecase }} {{ tutor.lastName | titlecase }}</a
    >

    <!-- <div class="teammembers-item-prof">{{ tutor.career }}</div>-->
  </div> 
  <div class=" socials--round ">
    <a class=" country" >            {{ tutor.career }}  </a>
  </div>
</div>
<!-- ... end Teammember Item  -->