<div class="crumina-module crumina-teammembers-item card px-2 py-2 my-2" *ngIf="tutor">
  <div class="teammembers-thumb img">
    <!-- <img class="main" src="assets/img/no-profile-image.png" alt="Tutor" />
    <img class="hover" src="assets/img/no-profile-image.png" alt="Tutor" /> -->
    <img class="main" src="assets/img/team3.jpg" alt="Tutor" />
    <img class="hover" src="assets/img/team3.jpg" alt="Tutor" />
  </div>

  <div class="teammember-content content">
    <a [routerLink]="['/profile', tutor._id]" class="h5 teammembers-item-name"
      >{{ tutor.name | titlecase }} {{ tutor.lastName | titlecase }}</a
    >

    <!-- <div class="teammembers-item-prof">{{ tutor.career }}</div>-->
  </div> 
  <div class="socials socials--round star ">
    <div>
        <div >
                5.0   
        </div>
        <a class="btn btn-control ">
          <i class="fas fa-star" style="color: yellow"></i>
        </a>
    </div>
  </div>
</div>
<!-- ... end Teammember Item  -->